<%= form_for(@category, remote: true) do |form| %>
  <fieldset>
    <legend>Category</legend>

    <div>
      <%= form.label(:title) %>
      <%= form.text_field(:title) %>
    </div>

    <div>
      <%= form.submit('Cancel', type: 'button', name: 'cancel') %>
      <%= form.submit %>
    </div>
  </fieldset>
<% end %>
